.idea
target/**
.build/validate/*
.build/test/*
.build/prepare/*
.build/create-deployable/*
.build/node_modules*
npm-debug.log
.ntvs_analysis.dat
itBldz.njsproj
tests/**/*.js
tests/**/*.js.map
src/lib/**/*.js
src/lib/**/*.js.map
itBldz.v12.suo
itbldz.js*
.ntvs_analysis.*
